h2{
    color: gold;
}
p{
    color: black;
    text-transform: uppercase;
    line-height: 20px;
    font-style: oblique;
    font-weight: bold;
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}