h2{
    color: gold;
}
p{
    color: black;
    text-transform: uppercase;
    line-height: px;
    font-style: oblique;
    font-weight: bold;
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
img{
    float: right;
}
footer{
    clear:both;
    text-align: center;
}